/qm-backend-app/build/
/qm-backend-logic/build/
/qm-backend-model/build/
/.gradle/
/qm-backend-data/build/tmp/jar/MANIFEST.MF
/qm-backend-data/build/libs/qm-backend-data.jar
/build/tmp/spotless-register-dependencies
